---
layout: page
title: Projects
---
#projects.container.projects
  - page.projects.each_with_index do |project,index|
    %div{:id => "#{File.basename(project.relative_source_path, '.textile')}", :class=>"project #{index % 3 == 0 ? 'red' : (index % 3 == 1 ? 'alt' : 'blue')}" }
      .row
        .col-md-6.summary
          %h2= project.title
          .date
            .fa.fa-clock-o.fa-fw
            = project.project_date
          .technos
            .fa.fa-cogs.fa-fw
            = project.project_technologies.join(", ")
        %div{:class=> "col-md-6 detail#{1 > 2 && project.has_more ? ' has-more' : ''}"}
          .description
            = project.project_description
          - if 1 > 2 && project.has_more
            .link-more
              %a.alt.button{:href=> project.url}
                .fa.fa-plus-circle.fa-lg.fa-fw
                Learn more
