---
layout: base
---
.index
  %section.centered
    %h1.name Paul Dijou
    %h2#job.job
      %span Web Architect
    - if site.social_links && site.social_links.size > 0
      %ul#social.social.list-inline
        - site.social_links.each_with_index do |social_link, index|
          %li{ :class => "await-opacity-#{index + 1}" }
            %a{ :href=>"#{social_link.url}#{site.social_identities[social_link.social_id]}", :target=>"_blank", :class => "#{social_link.social_id}" }
              %span{ :class => "fa fa-#{social_link.icon} fa-3x fa-fw fade-in" }
              
  %section.web
    .container
      .row
        .col-md-6
          %h2
            I'm making web applications
            %span.fa.fa-desktop
          %p.description
            The web is just awesome, unlimited amount of knowledge and possibilites. I enjoy learning about all that stuff and building nice things from it.
          %a.button{:href=>"https://github.com/#{site.social_identities['github']}"}
            %span.fa.fa-github.fa-lg
            My GitHub
          %a.button{:href=>"/projects/"}
            %span.fa.fa-flask.fa-lg
            View my projects
        .col-md-6
          %h3 Last projects
          %ul.last
            - for project in site.projects[0,5]
              %li
                %a{:href=>project.url}
                  %h4 #{project.title}
                  = project.project_technologies.join(", ")
  %section.techno
    .container
      .row
        .col-md-6.col-md-push-6
          %h2
            %span.fa.fa-cogs
            Using awesome technologies
          %p.description
            The web is just awesome, unlimited amount of knowledge and possibilites. I enjoy learning about all that stuff and building nice things from it.
          %a.button{:href=>"/resume/"}
            %span.fa.fa-code.fa-lg
            View my resume
          .row.row-top
            %img.col-sm-4.hidden-xs.hidden-sm{:src => "/images/technos/scala.png", :alt => "scala"}
            %img.col-sm-8.hidden-xs.hidden-sm{:src => "/images/technos/play.svg", :alt => "Play"}
          .row
            %img.col-sm-8.hidden-xs.hidden-sm{:src => "/images/technos/mongodb.png", :alt => "MongoDB"}
            %img.col-sm-4.hidden-xs.hidden-sm{:src => "/images/technos/postgresql.svg", :alt => "PostgreSQL"}
        .col-md-6.col-md-pull-6
          %h3
            I 
            %span.fa.fa-heart.fa-fw
            these ones
          .row
            %img.col-xs-6{:src => "/images/technos/html5.svg", :alt => "HTML5"}
            %img.col-xs-6{:src => "/images/technos/css3.svg", :alt => "CSS3"}
          .row.row-top
            %img.col-xs-6{:src => "/images/technos/javascript.svg", :alt => "JavaScript"}
            %img.col-xs-6{:src => "/images/technos/angular.png", :alt => "AngularJS"}
  %section.blog
    .container
      .row
        .col-md-6
          %h2
            And writing about all that stuff
            %span.fa.fa-pencil-square
          %a.button{:href=>"/blog/"}
            %span.fa.fa-coffee.fa-lg
            Read my blog
          = partial( 'subscribe.html.haml' )
        .col-md-6
          %h3 Last posts
          %ul.last
            - for post in site.posts[0,5]
              %li
                %a{:href=>post.url}
                  %h4 #{post.title}
                  Posted on 
                  %span.date= post.date.strftime( '%b %d, %Y' )

  %section.contact
    .container
      .row
        .col-md-6.col-md-push-6
          %h2
            %span.fa.fa-envelope
            Feel free to contact me
          %p.description
            The web is just awesome, unlimited amount of knowledge and possibilites. I enjoy learning about all that stuff and building nice things from it.
          %a.button{:href=>"/resume/"}
            %span.fa.fa-code.fa-lg
            View my resume
        .col-md-6.col-md-pull-6
          %ul.last
            %li Toto
            %li Tata
            %li Titi
