---
layout: base
---
.index
  %section.centered
    %h1.name Paul Dijou
    %h2#job.job
      %span Web Architect
    - if site.social_links && site.social_links.size > 0
      %ul#social.social.list-inline
        - site.social_links.each_with_index do |social_link, index|
          %li{ :class => "await-opacity-#{index + 1}" }
            %a{ :href=>"#{social_link.url}#{site.social_identities[social_link.social_id]}", :target=>"_blank", :class => "#{social_link.social_id}" }
              %span{ :class => "fa fa-#{social_link.icon} fa-3x fade-in" }
              
  %section.web
    .container
      %h2
        I'm making web applications
        %span.fa.fa-desktop
      %p.description
        The web is just awesome, unlimited amount of knowledge and possibilites. I enjoy learning about all that stuff and building nice things from it.
      %a.button{:href=>"https://github.com/#{site.social_identities['github']}"}
        %span.fa.fa-github.fa-lg
        My GitHub
      %ul.last
        - for project in site.projects[0,5]
          %li
            %a{:href=>project.url}
              %h3 #{project.title}
              = project.project_technologies.join(", ")
  %section.right.techno
    .container
      %h2
        %span.fa.fa-cogs
        Using awesome technologies
      %p.description
        The web is just awesome, unlimited amount of knowledge and possibilites. I enjoy learning about all that stuff and building nice things from it.
      %a.button{:href=>"/resume/"}
        %span.fa.fa-code.fa-lg
        View my resume
  %section.blog
    .container
      %h2
        And writing about all that stuff
        %span.fa.fa-pencil-square
      %a.button{:href=>"/blog/"}
        %span.fa.fa-coffee.fa-lg
        Read my blog
      = partial( 'subscribe.html.haml' )
      %ul.last
        - for post in site.posts[0,5]
          %li
            %a{:href=>post.url}
              %h3 #{post.title}
              Posted on 
              %span.date= post.date.strftime( '%b %d, %Y' )
  %section.right.contact
    .container
      %h2
        %span.fa.fa-envelope
        Feel free to contact me
