---
layout: page
title: Resume
---
.title
  %h1 Resume
  .btn-wrapper
    .btn-group{ :data=>{ :toggle=>"buttons-radio" } }
      - for lang in site.cv.langs
        %a{:href=>"#resume-#{lang}", :class=>"btn lang-#{lang}", "data-toggle"=>"tab", :onclick=>"window.location.hash='##{lang}'"}= site.langs.method_missing(lang).label
  .clearfix
#container.container
  .row
    .span12
      .tab-content.cv
        - for lang in site.cv.langs
          - cv = site.cv.method_missing(lang)
          .tab-pane{:id=>"resume-#{lang}"}
            .row
              .span9
                .well.clearfix
                  .row-fluid
                    - (1..2).each do |i|
                      .span6
                        - for section in cv.sections
                          - if section.col == i
                            %h2 #{section.title}
                            %dl.dl-horizontal
                              - for sub in section.subs
                                %dt
                                  %h6= sub.label
                                %dd
                                  - if sub.multi == 'one'
                                    = sub.value
                                  - if sub.multi == 'many'
                                    %ul.unstyled
                                      - for value in sub.vals
                                        %li= value
              .span3
                %ul.nav.nav-list.well
                  %li.nav-header= cv.downloads_label
                  - for download in cv.downloads
                    %li{:class=>"resume #{download.file_type}"}
                      %a{:href=>"/data/#{download.file_name}.#{download.file_type}", :target=>"_blank"}= download.title

:javascript
  $('ul.cv > li:first').addClass('active');

  var langs = ['en', 'fr'], lang = window.location.hash.substr(1);

  if(langs.indexOf(lang) < 0) {
    lang = langs[0];
    window.location.hash = '#'+lang;
  }

  $('.title .btn-group > a.lang-'+lang).addClass('active');
  $('#resume-'+lang).addClass('active');