.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-toggle"=>"collapse", "data-target"=>".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href=>"#{site.home_url}"}
        = site.title
      .nav-collapse
        %ul.nav
          - if site.home_label
            %li
              %a{:href=>"#{site.home_url}"} #{site.home_label}
          -for nav in site.navbar
            - if !site.home_label || site.home_url != nav.url
              %li
                %a{:href=>"#{nav.url}"} #{nav.label}
              
:javascript
  $(document).ready(function() {
    var indexOfSharp = window.location.pathname.indexOf('#');
    var pathname = indexOfSharp > 0 ? window.location.pathname.substring(0, indexOfSharp) : window.location.pathname;
    $("body > header > .navbar a[href='"+pathname+"']").closest("li").addClass("active");
  });