---
---
%article.post
  - prefix = 'https://github.com/pauldijou/pauldijou.github.com/edit/develop/blog/'
  - year = page.post.date.year.to_s
  - month = sprintf( "%02d", page.post.date.month ).to_s
  - day = sprintf( "%02d", page.post.date.day ).to_s
  - githubEdit = prefix + year + '-' + month + '-' + day + '-' + page.post.slug + '.md'
  %h2
    %a{:href=>page.post.url}
      = page.post.title
  .meta
    Posted by
    %span.authors= ' '.concat(page.post.authors.map{|u| site.identities.method_missing(u).name} * ', ')
    on
    %span.date= page.post.date.strftime( '%b %d, %Y' )
    %span.separator

    - if site.disqus
      %span.fa.fa-comments.fa-fw.visible-md-inline.visible-lg-inline
      = page.post.disqus_comments_link
      %span.separator

    %span.fa.fa-pencil-square-o.fa-fw.visible-md-inline.visible-lg-inline
    %a.improve.visible-md-inline.visible-lg-inline{:href=>githubEdit, :target=>'_blank'} Improve this article

  .content
    ~ page.post.content

  .footer
    %span.fa.fa-link.fa-fw.hidden-xs.hidden-sm
    %a.hidden-xs.hidden-sm{:href=>page.post.url} Permalink
    %span.separator

    - if site.disqus
      %span.fa.fa-comments.fa-fw.hidden-xs.hidden-sm
      = page.post.disqus_comments_link
      %span.separator

    %span.fa.fa-pencil-square-o.fa-fw.visible-md-inline.visible-lg-inline
    %a.improve.visible-md-inline.visible-lg-inline{:href=>githubEdit, :target=>'_blank'} Improve this article
    %a.improve.button.block.hidden-md.hidden-lg{:href=>githubEdit, :target=>'_blank'}
      %span.fa.fa-pencil-square-o.fa-fw
      Improve this article
    %span.separator

    - if page.post.tags
      %span.tags
        %span.fa.fa-tags.fa-fw
        Tags :
        - for tag in page.post.tags
          - unless tag.nil?
            %a.tag.label.label-default{:href=>tag.primary_page.url}= tag

  - if page.alone
    .pagination
      .row
        .col-xs-6
          %a{:href=>"#{page.post.previous_post ? page.post.previous_post.url : '#'}", :class=>"button block previous#{page.post.previous_post ? '' : ' disabled'}"} Previous
        .col-xs-6
          %a{:href=>"#{page.post.next_post ? page.post.next_post.url : '#'}", :class=>"button block next#{page.post.next_post ? '' : ' disabled'}"} Next

    .comments
      = page.post.disqus_comments

    %script{:type=>"text/javascript", :src=>"//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f80341f1e319e12"}
