---
---
%article.post
  %h2
    %a{:href=>page.post.url}
      = page.post.title
  .meta
    Posted by 
    %span.authors= ' '.concat(page.post.authors.map{|u| site.identities.method_missing(u).name} * ', ')
    on 
    %span.date= page.post.date.strftime( '%b %d, %Y' )
    - if site.disqus
      | 
      %span.fa.fa-comments.fa-fw
      = page.post.disqus_comments_link
    
  .content
    ~ page.post.content
    
  .footer
    %a{:href=>page.post.url}
      %span.fa.fa-link.fa-fw
      Permalink
    | 
    - if site.disqus
      %span.fa.fa-comments.fa-fw
      = page.post.disqus_comments_link
      | 
    - if page.post.tags
      %span.tags
        %span.fa.fa-tags.fa-fw
        Tags :
        - for tag in page.post.tags
          - unless tag.nil?
            %a.tag{:href=>tag.primary_page.url}= tag