---
layout: main
---
.posts
  - page.posts.each do |post|
    = partial('post.html.haml', {'parent'=>page, 'post'=>post, 'alone' => false})

  - if site.disqus
    = page.disqus_comments_count

- current_page_number = page.posts.current_page_index + 1
%ul.list-inline.pagination.text-center.visible-xs.visible-sm
  - if page.posts.previous_page
    %li
      %a.button{:href => "#{page.posts.previous_page.url}"}
        .fa.fa-angle-left.fa-lg
        Previous
  - if !page.posts.previous_page
    %li
      %a.button.disabled{:href => "#"}
        .fa.fa-angle-left.fa-lg
        Previous
  %li.disabled
    %a.button{:href => "#"} #{current_page_number} of #{page.posts.pages.size}
  - if page.posts.next_page
    %li
      %a.button{:href => "#{page.posts.next_page.url}"}
        Next
        .fa.fa-angle-right.fa-lg
  - if !page.posts.next_page
    %li
      %a.button.disabled{:href => "#"}
        Next
        .fa.fa-angle-right.fa-lg

%ul.list-inline.pagination.text-center.hidden-xs.hidden-sm
  - if page.posts.previous_page
    %li
      %a.button{:href => "#{site.blog_prefix}/"}
        .fa.fa-angle-double-left.fa-lg
        First
    %li
      %a.button{:href => "#{page.posts.previous_page.url}"}
        .fa.fa-angle-left.fa-lg
        Previous
  - if !page.posts.previous_page
    %li
      %a.button.disabled{:href => "#"}
        .fa.fa-angle-double-left.fa-lg
        First
    %li
      %a.button.disabled{:href => "#"}
        .fa.fa-angle-left.fa-lg
        Previous
  - if current_page_number > 3
    %li
      %a.button.disabled{:href => "#"} ...
    %li
      %a.button{:href => "#{site.blog_prefix}/page/#{current_page_number - 2}/"} #{current_page_number - 2}
  - if current_page_number == 3
    %li
      %a.button{:href => "#{site.blog_prefix}/"} #{current_page_number - 2}
  - if current_page_number > 2
    %li
      %a.button{:href => "#{site.blog_prefix}/page/#{current_page_number - 1}/"} #{current_page_number - 1}
  - if current_page_number == 2
    %li
      %a.button{:href => "#{site.blog_prefix}/"}
        = current_page_number - 1
  %li.active
    %a.button{:href => "#"} #{current_page_number} of #{page.posts.pages.size}
  - if (page.posts.pages.size - current_page_number) > 0
    %li
      %a.button{:href => "#{site.blog_prefix}/page/#{current_page_number + 1}/"} #{current_page_number + 1}
  - if (page.posts.pages.size - current_page_number) > 1
    %li
      %a.button{:href => "#{site.blog_prefix}/page/#{current_page_number + 2}/"} #{current_page_number + 2}
  - if (page.posts.pages.size - current_page_number) > 2
    %li
      %a.button.disabled{:href => "#"} ...
  - if page.posts.next_page
    %li
      %a.button{:href => "#{page.posts.next_page.url}"}
        Next
        .fa.fa-angle-right.fa-lg
    %li
      %a.button{:href => "#{site.blog_prefix}/page/#{page.posts.pages.size}/"}
        Last
        .fa.fa-angle-double-right.fa-lg
  - if !page.posts.next_page
    %li
      %a.button.disabled{:href => "#"}
        Next
        .fa.fa-angle-right.fa-lg
    %li
      %a.button.disabled{:href => "#"}
        Last
        .fa.fa-angle-double-right.fa-lg

%div{:style=>"margin-bottom:20px;text-align:center;"}
  = partial( 'subscribe.html.haml' )
