---
layout: main
---

- for post in page.posts
  .post.well
    .post-comments
      %a{:href=>"#{post.url}#disqus_thread", :rel=>"tooltip-bottom", "data-original-title"=>"Comments"}
        - if post.disqus && post.disqus_comments_count > 0
          = post.disqus_comments_count
        - if !post.disqus
          0
        
    %h6.post-date
      %span.label.label-important #{post.date.strftime( '%d %b %Y' )}
    %h2
      %a{:href=>post.url}
        = post.title
    .content
      %p= summarize(html_to_text(post.content), (post.summary == 0 ? site.default_summary_size : post.summary))
      - if post.summary >= 0
        %a.btn Lire la suite...
      %span
        %span.hidden-desktop
          = post.disqus_comments_link
    %fieldset
      %legend
        %h6 Tags
      - for tag in post.tags
        - unless tag.nil?
          %a{:href=>tag.primary_page.url, :style=>"text-decoration: none;"}
            = tag

:javascript
  $(function() {
    $("a[href$='#disqus_thread']").addClass("btn").addClass("btn-inverse");
  });

- current_page_number = page.posts.current_page_index + 1
%div.visible-phone
  %ul.pager
    - if page.posts.previous_page
      %li.previous
        %a{:href => "#{page.posts.previous_page.url}"} Previous
    - if !page.posts.previous_page
      %li.previous.disabled
        %a{:href => "#"} Previous
    %li.disabled
      %a{:href => "#"} #{current_page_number} of #{page.posts.pages.size}
    - if page.posts.next_page
      %li.next
        %a{:href => "#{page.posts.next_page.url}"} Next
    - if !page.posts.next_page
      %li.next.disabled
        %a{:href => "#"} Next
        
%div.pagination.pagination-centered.hidden-phone
  %ul
    - if page.posts.previous_page
      %li
        %a{:href => "#{site.blog_prefix}/"} First
      %li
        %a{:href => "#{page.posts.previous_page.url}"} Previous
    - if !page.posts.previous_page
      %li.disabled
        %a{:href => "#"} First
      %li.disabled
        %a{:href => "#"} Previous
    - if current_page_number > 3
      %li.disabled
        %a{:href => "#"} ...
      %li
        %a{:href => "#{site.blog_prefix}/page/#{current_page_number - 2}/"} #{current_page_number - 2}
    - if current_page_number == 3
      %li
        %a{:href => "#{site.blog_prefix}/"} #{current_page_number - 2}
    - if current_page_number > 2
      %li
        %a{:href => "#{site.blog_prefix}/page/#{current_page_number - 1}/"} #{current_page_number - 1}
    - if current_page_number == 2
      %li
        %a{:href => "#{site.blog_prefix}/"}
          = current_page_number - 1
    %li.active
      %a{:href => "#"} #{current_page_number} of #{page.posts.pages.size}
    - if (page.posts.pages.size - current_page_number) > 0
      %li
        %a{:href => "#{site.blog_prefix}/page/#{current_page_number + 1}/"} #{current_page_number + 1}
    - if (page.posts.pages.size - current_page_number) > 1
      %li
        %a{:href => "#{site.blog_prefix}/page/#{current_page_number + 2}/"} #{current_page_number + 2}
    - if (page.posts.pages.size - current_page_number) > 2
      %li.disabled
        %a{:href => "#"} ...
    - if page.posts.next_page
      %li
        %a{:href => "#{page.posts.next_page.url}"} Next
      %li
        %a{:href => "#{site.blog_prefix}/page/#{page.posts.pages.size}/"} Last
    - if !page.posts.next_page
      %li.disabled
        %a{:href => "#"} Next
      %li.disabled
        %a{:href => "#"} Last
