!!!
%html
  %head
    %meta{ :charset=>'utf-8' }
    %meta{ :name=>"viewport", :content=>"width=device-width, initial-scale=1.0"}
    %meta{ "http-equiv"=>"pragma", :content=>"no-cache"}
    %meta{ "http-equiv"=>"cache-control", :content=>"no-cache"}
    %meta{ "http-equiv"=>"expires", :content=>"0"}
    %title
      #{site.title}
    %link{ :rel=>"shortcut icon", :type=>"image/png", :href=>"#{site.base_url}/images/favicon.ico" }
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/main.css", :media=>"screen, projection" }
    /[if lt IE 8]
      %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"#{site.base_url}/stylesheets/ie.css", :media=>"screen, projection" }

    - if page.stylesheets
      - page.stylesheets.each do |stylesheets|
        %link{ :rel=>"stylesheet", :type=>"text/css", :href=>stylesheets, :media=>"screen, projection" }

  %body
    ~ content

    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/vendors/jquery/jquery.js" }
    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/prism.js" }
    %script{ :type=>"text/javascript", :src=>"#{site.base_url}/javascripts/main.js" }
    %script{ :type=>"text/javascript", :src=>"http://localhost:35729/livereload.js?snipver=1" }

    /[if lt IE 9]
      %script{ :type=>"text/javascript", :src=>"//html5shim.googlecode.com/svn/trunk/html5.js" }

    - if page.javascripts
      - page.javascripts.each do |javascript|
        %script{ :type=>'text/javascript', :src=>javascript }
    
    = google_analytics_async